<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>

  <div style="max-width: 550px;  margin: 40px auto 0; ">
  <h1 style="font-size: 50px;"><%=title%></h1>

  <p style="font-size: 20px;">
    <strong>Ласкаво просимо до нашого блогу!</strong><br>
    Відкрийте для себе цікаві статті, корисні поради та вражаючі історії від нашої команди. Ми ділимося з вами нашими знаннями та досвідом, 
    щоб надихати та надавати цінну інформацію для вашого розвитку. Приєднуйтесь до нас у подорожі в світ знань та відкриттів!
  </p>

  
</div>

<%- include('./partials/footer.ejs') %>
